<mat-card style="margin-left: 10px;">
    <h1 class="mt10 ml10">Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        class="profile-image" alt="Imagen de perfil" />
                </div>
                <h1 class=" text-center mt10">{{ user.nombre }} {{ user.apellido }}</h1>
                <br>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{ user.telefono }}</td>
                            </tr>
                            <tr>
                                <td>Rol</td>
                                <td>{{ user.authorities[0].authority }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ user.enabled ? "Activo" : "No activo" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container text-center mt15 ">
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color="accent" class="ml10">Compartir</button>
        </div>
        <br><br>
    </mat-card-content>


</mat-card>